<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584051008187-ji2g3lrdhu6jf81a1iv7gmjbn5i8tq3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584051008187-ji2g3lrdhu6jf81a1iv7gmjbn5i8tq3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBeeK6d618yP_uTU1nwqXvasltzq7EIaKM</string>
	<key>GCM_SENDER_ID</key>
	<string>584051008187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jareksedy.GBShop</string>
	<key>PROJECT_ID</key>
	<string>gbshop-8f34b</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshop-8f34b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584051008187:ios:4efc5d97d080d8759fff9e</string>
</dict>
</plist>